<style>
  form {
    display: block;
    text-align: center;
  }
​</style>

<form action="/named-cat" method="post">
   <input type="text" name="name">
   <input type="submit" value="submit">
</form>
