<style>
  .cat-img {
    border: 10px groove gold;
    width: 450px;
    margin: 50px auto;
    display: block;
  }

​</style>

<% if @name %>
  <h1>
    My name is <%= @name %>
  </h1>
<% end %>

<div class="cat-img">
  <img src='http://bit.ly/1eze8aE'>
</div>
